/* home.css */

.home {
    text-align: center;
    padding: 40px;
    background-color: #c2ada1;
}

.home h3 {
    color: #207e36;
    /* Set your desired text color */
}

.home h1 {
    color: #333;
    /* Set your desired text color */
}

.home .main-img{
    width: 70%;
}

.link-text {
    text-decoration: none;
    color: #4CAF50;
    /* Green color for an organic feel */
    font-weight: bold;
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.link-text:hover {
    color: #388e3c;
    /* Darker green on hover */
}