.product {
    border: 1px solid black;
    display: inline-block;
    width: 240px;
    height: 320px;
    margin: 5px 7px;
    border-radius: 4px;
}

/* products.css */

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product h5 {
    margin: 10px 0;
    font-size: 1.2em;
}
